body{
    background-color: rgb(20, 20, 20);
    color: white;
    font-family: arial;
    margin: 0px;
    margin-top: 0px;
    font-size: 2em;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 20px;
    text-align: center;
    font-size: 50vw/8;
    color: rgb(76, 32, 138);
}
h3{
    margin: 0px;
    margin-top: 20px;
}
#settings{
    background-color: rgba(81, 34, 146, 0.486);
    padding: 30px;
    border-radius: 20px;
    width: 65vw;
    padding-bottom: 70px;
}
#categories-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
#categories-list div{
    margin: 10px;
    background-color: rgba(76, 32, 138, 0.699);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.number-input{
    width: 200px;
    font-size: 0.8em;
    text-align: center;
}
.on{
    border: 5px solid rgb(0, 0, 0);
}
#startBox{
    display: flex;
    justify-content: center;
    margin-top: 20px;   
}
#startGame{
    font-size: 3em;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
}
#startGame:hover{
    background-color: rgb(29, 29, 29);
}

#playersCont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    text-align: center;
    margin: 50px;
}
.player{
    font-size: 2em;
    padding: 20px;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgba(76, 32, 138, 0.699);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}
.player:hover{
    background-color: rgba(100, 50, 180, 0.699);
}

#playerInfo{
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    background-color: rgb(0, 0, 0);
    width: 60vw;
    height: 70vh;
    border-radius: 50px;
    text-align: center;
    font-size: 2em;
}
#next{
    font-size: 1.5em;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    background-color: rgb(76, 32, 138);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}